:root {
  --white-color: #fafafa;
  --black-color: #212121;
  --pink-color: #ffc1e3;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Bangers', cursive;
}
a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--black-color);
}


/* navigation bar */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 9999;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 1;
  background-color: var(--white-color);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
}
.navbar_title img {
  width: 8em;
}
.navbar_list_small {
  display: none;
}
.navbar_list_big, .navbar_sns {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_list_big li, .navbar_sns li {
  padding: 0.5em 0.5em;
  font-size: 1.8em;
}
.navbar_list_big li:hover {
  background-color: var(--pink-color);
  border-radius: 0.7em;
}

/* all sections frame-size setting */
.section_khao,
.section_menu,
.section_contact {
  padding-top: 13em;
  padding-bottom: 13em;
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--black-color);
}
.section_picture {
  flex-direction: column;
  padding-top: 13em;
  padding-bottom: 13em;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.section_franchise {
  padding-top: 13em;
  padding-bottom: 13em;
  width: 100%;
  display: block;
  text-align: center;
}

/* all sections font-size setting */
.section_khao .section_khao_paragraph,
.section_menu .section_menu_paragraph,
.section_contact .section_contact_paragraph {
  margin: 0;
  width: 100%;
  font-size: 7em;
  color: var(--white-color);
}
.section_khao .section_khao_paragraph2 {
  margin: 0;
  width: 100%;
  font-size: 3.5em;
  color: var(--pink-color);
}
.section_picture .section_picture_paragraph,
.section_franchise .section_franchise_paragraph {
  margin: 0;
  width: 100%;
  font-size: 7em;
  color: var(--black-color);
}
.section_contact .section_contact_paragraph2 {
  margin: 0;
  width: 100%;
  font-size: 1.7em;
  color: var(--white-color);
}
.section_contact .section_contact_paragraph3 {
  margin: 0;
  width: 100%;
  font-size: 2.5em;
  color: var(--pink-color);
}

/* section khao video setting */
.section_khao video {
  width: 100%;
  max-width: 750px;
  height: auto;
}

/* section picture setting */
.gallery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.gallery__item--h-2 {
  grid-column-end: span 2;
}
.gallery__item--h-3 {
  grid-column-end: span 3;
}
.gallery__item--v-2 {
  grid-row-end: span 2;
}
.gallery__item--v-3 {
  grid-row-end: span 3;
}
.embed {
  position: relative;
  overflow: hidden;
  padding-block-start: 100%;
}
.embed--1-2 {
  padding-top: calc(100% / (1 / 2));
}
.embed--2-1 {
  padding-top: calc(100% / (2 / 1));
}
.embed--2-3 {
  padding-top: calc(100% / (2 / 3));
}
.embed > * {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  padding: 0.25em;
  position: absolute;
}
/* section picture modal */
.btn{
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{ opacity: 0.7;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  align-items: center;
  margin: auto;
  margin-top: 10em;
  display: block;
  max-width: 35%;
  max-height: auto;
  border-radius: 0.7em;
}
.close {
  display: block;
  color: var(--pink-color);
  font-size: 3em;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--pink-color);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}

/* section menu */
.section_menu .small_menu {
  display: none;
}
.section_menu .big_menu img {
  width: 90%;
}

/* section franchise */
.slides {
  padding: 0;
  width: 35em;
  height: 35em;
  display: block;
  margin: 0 auto;
  position: relative;
}
.slides input {
  display: none;
}
.slide-container {
  display: block;
}
.slide {
  top: 0;
  opacity: 0;
  width: 35em;
  height: 35em;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}
.nav label {
  width: 150px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  color: rgba(255, 193, 227, 1);
  font-size: 10em;
  text-align: center;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover+.nav label {
  opacity: 0.5;
}
.nav label:hover {
  opacity: 1;
}
.nav .next {
  right: 0;
}
input:checked+.slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
input:checked+.slide-container .nav label {
  display: block;
}
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6,
input#img-7:checked~.nav-dots label#img-dot-7,
input#img-8:checked~.nav-dots label#img-dot-8 {
  background: rgba(0, 0, 0, 0.8);
}


/* responsive size */
@media screen and (max-width:768px) {
  .navbar {
    flex-direction: column;
    padding-bottom: 0;
  }
  .navbar_title img {
    width: 6em;
  }
  .navbar_list_big {
    display: none;
  }
  .navbar_list_small {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
  }
  .navbar_list_small li {
    display: flex;
    list-style: none;
    padding: 0.3em 0.3em ;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    border-radius: 0.7em;
  }
  .navbar_list_small li:hover {
    background-color: var(--pink-color);
    border-radius: 0.7em;
  }
  .navbar_sns {
    padding: 0.3em 0.3em;
    font-size: 0.8em;
    position: absolute;
    right: 0.5em;
    top: 3.5em;
  }

  /* responsive section size */
  .section_khao,
  .section_menu,
  .section_picture,
  .section_franchise,
  .section_contact{
    padding-top: 13em;
    padding-bottom: 15em;
  }
  
  .section_khao .section_khao_paragraph,
  .section_menu .section_menu_paragraph,
  .section_contact .section_contact_paragraph {
    margin: 0;
    width: 100%;
    font-size: 5em;
    color: var(--white-color);
  }
  .section_khao .section_khao_paragraph2 {
    margin: 0;
    width: 100%;
    font-size: 3em;
    color: var(--pink-color);
  }

  .section_picture .section_picture_paragraph,
  .section_franchise .section_franchise_paragraph {
    margin: 0;
    width: 100%;
    font-size: 5em;
    color: var(--black-color);
  }

  .section_contact .section_contact_paragraph2 {
    margin: 0;
    width: 100%;
    font-size:1.3em;
    color: var(--white-color);
  }
  .section_contact .section_contact_paragraph3 {
    margin: 0;
    width: 100%;
    font-size: 2em;
    color: var(--pink-color);
  }

  .section_contact img {
    width: 70%;
  }

  /* small menu size*/
  .section_menu .big_menu {
    display: none;
  }
  .section_menu .small_menu {
    display: block;
  }  
  .section_menu .small_menu img {
    width: 95%;
  }
}

@media screen and (max-width:560px) {
  .navbar_list_small li {
    display: flex;
    list-style: none;
    padding: 0.3em 0.3em ;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    border-radius: 0.7em;
  }
  /* responsive section size */
  .section_khao,
  .section_menu,
  .section_picture,
  .section_franchise,
  .section_contact{
    padding-top: 14em;
    padding-bottom: 16em;
  }
  
  .section_khao .section_khao_paragraph,
  .section_menu .section_menu_paragraph,
  .section_contact .section_contact_paragraph {
    margin: 0;
    width: 100%;
    font-size: 3.2em;
    color: var(--white-color);
  }
  .section_khao .section_khao_paragraph2 {
    margin: 0;
    width: 100%;
    font-size: 2.5em;
    color: var(--pink-color);
  }

  .section_picture .section_picture_paragraph,
  .section_franchise .section_franchise_paragraph {
    margin: 0;
    width: 100%;
    font-size: 3.5em;
    color: var(--black-color);
  }
  .section_contact .section_contact_paragraph2 {
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    color: var(--white-color);
  }
  .section_contact .section_contact_paragraph3 {
    margin: 0;
    width: 100%;
    font-size: 1.5em;
    color: var(--pink-color);
  }

  /* section_franchise_size */
  .slides {
    padding: 0;
    width: 20em;
    height: 20em;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slide {
    top: 0;
    opacity: 0;
    width: 20em;
    height: 20em;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
  }

  .nav label {
    width: 75px;
    height: 100%;
    display: none;
    position: absolute;
  
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    color: rgba(255, 193, 227, 1);
  
    font-size: 5em;
    text-align: center;
  }

  /* section_picture size */
  .gallery {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .gallery__item--h-2 {
    grid-column-end: span 1;
  }
  .gallery__item--h-3 {
    grid-column-end: span 1;
  }
  .gallery__item--v-2 {
    grid-row-end: span 1;
  }
  .gallery__item--v-3 {
    grid-row-end: span 1;
  }
  .embed {
    position: relative;
    overflow: hidden;
    padding-block-start: 100%;
  }
  .embed > * {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    padding: 0.25em;
    position: absolute;
  }

  .btn{
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover{ opacity: 0.7;}
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content{
    align-items: center;
    margin: auto;
    margin-top: 15em;
    display: block;
    max-width: 70%;
    max-height: auto;
    border-radius: 0.7em;
  }
  .close {
    display: block;
    color: var(--pink-color);
    font-size: 2em;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: var(--pink-color);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
  }
}