:root {
    --text-color: #black;
    --accent-color: #ffc1e3;
    --background-color: #white;
}

html, body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

.section {
    display: flex;
    position: relative;
}

.navbar_title img {
    width: 10em;
}

.navbar_list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_list li {
    padding: 0.5em 0.5em;
    font-size: 1.2em;
}

.navbar_list li:hover {
    background-color: var(--accent-color);
    border-radius: 0.5em;
}

.navbar_sns {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_sns li {
    padding: 0.5em 0.5em;
    font-size: 1.5em;
}

.navbar_toggleBtn {
    font-size: 1.5em;
    position: absolute;
    right: 2em;
    top: 5em;
    display: none;
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar_list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_list li {
        width: 100%;
        text-align: center;
    }

    .navbar_sns {
        display: none;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_list.active,
    .navbar_sns.active {
        display: flex;
    }
}