:root {
  --white-color: #fafafa;
  --black-color: #212121;
  --pink-color: #ffc1e3;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Bangers', cursive;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

/* navigation bar */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 9999;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 1;
  background-color: var(--white-color);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
}

.navbar_title img {
  width: 7em;
}

.navbar_list, .navbar_sns {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_list li, .navbar_sns li {
  padding: 0.5em 0.5em;
  font-size: 1.5em;
}

.navbar_list li:hover {
  background-color: var(--pink-color);
  border-radius: 0.5em;
}

/*nav toggle*/
.navbar_toggleBtn {
  font-size: 1.5em;
  position: absolute;
  right: 2em;
  top: 2em;
  display: none;
}


/* all sections size setting */
.section_khao,
.section_menu,
.section_menu2,
.section_contact {
  padding-top: 10em;
  padding-bottom: 10em;
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--black-color);
}

.section_food_interior{
  padding-top: 10em;
  padding-bottom: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section_franchise {
  padding-top: 10em;
  padding-bottom: 10em;
  width: 100%;
  display: block;
  text-align: center;
}

.section_khao .section_khao_paragraph,
.section_menu .section_menu_paragraph,
.section_menu2 .section_menu2_paragraph,
.section_contact .section_contact_paragraph {
  margin: 0;
  width: 100%;
  font-size: 5em;
  color: var(--white-color);
}

.section_food_interior .section_food_interior_paragraph,
.section_franchise .section_franchise_paragraph {
  margin: 0;
  width: 100%;
  font-size: 5em;
  color: var(--black-color);
}

.section_menu2 {
  display: none;
}

/* section_khao video setting */
.section_khao video {
  width: 100%;
  max-width: 640px;
  height: auto;
}

/* section_food_interior setting */
.gallery {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.gallery__item--h-2 {
  grid-column-end: span 2;
}

.gallery__item--h-3 {
  grid-column-end: span 3;
}

.gallery__item--v-2 {
  grid-row-end: span 2;
}

.gallery__item--v-3 {
  grid-row-end: span 3;
}


.embed {
  position: relative;
  overflow: hidden;
  padding-block-start: 100%;
}

.embed--1-2 {
  padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
  padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
  padding-top: calc(100% / (2 / 3));
}

.embed > * {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  padding: 0.25em;
  position: absolute;
}


/* section menu*/
.section_menu img {
  width: 70%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.section_menu img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/* section franchise */
.slides {
  padding: 0;
  width: 35em;
  height: 35em;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 35em;
  height: 35em;
  display: block;
  position: absolute;

  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;
  color: #FFF;

  font-size: 156pt;
  text-align: center;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover+.nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked+.slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6,
input#img-7:checked~.nav-dots label#img-dot-7,
input#img-8:checked~.nav-dots label#img-dot-8,
input#img-9:checked~.nav-dots label#img-dot-9,
input#img-10:checked~.nav-dots label#img-dot-10 {
  background: rgba(0, 0, 0, 0.8);
}


/* responsive size */
@media screen and (max-width:768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar_title img {
    width: 5em;
  }

  .navbar_list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_list li {
    font-size: 1em;
    width: 100%;
    text-align: center;
  }

  .navbar_sns {
    display: none;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_list.active,
  .navbar_sns.active {
    display: flex;
  }
  
  .section_menu {
    display: none;
  }

  .section_menu2 {
    display: block;
  }

  .section_khao,
  .section_menu2,
  .section_contact {
    padding-top: 10em;
    padding-bottom: 10em;
    width: 100%;
    display: block;
    text-align: center;
    background-color: var(--black-color);
  }

  .section_food_interior{
    padding-top: 10em;
    padding-bottom: 10em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section_khao .section_khao_paragraph,
  .section_menu2 .section_menu2_paragraph,
  .section_contact .section_contact_paragraph {
    margin: 0;
    width: 100%;
    font-size: 3em;
    color: var(--white-color);
    background-color: var(--black-color);
  }

  .section_food_interior .section_food_interior_paragraph,
  .section_franchise .section_franchise_paragraph {
    margin: 0;
    width: 100%;
    font-size: 3em;
    color: var(--black-color);
    background-color: var(--white-color);
  }

  /*section_menu2*/
  .slides2 {
    padding: 0;
    width: 35em;
    height: 35em;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  
  .slides2 input {
    display: none;
  }
  
  .slide-container2 {
    display: block;
  }
  
  .slide2 {
    top: 0;
    opacity: 0;
    width: 35em;
    height: 35em;
    display: block;
    position: absolute;
  
    transform: scale(0);
    transition: all .7s ease-in-out;
  }
  
  .slide2 img {
    width: 100%;
    height: 100%;
  }
  
  .nav2 label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
  
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    color: #FFF;
  
    font-size: 156pt;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }
  
  .slide2:hover+.nav2 label {
    opacity: 0.5;
  }
  
  .nav2 label:hover {
    opacity: 1;
  }
  
  .nav2 .next {
    right: 0;
  }
  
  input:checked+.slide-container2 .slide2 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }
  
  input:checked+.slide-container2 .nav2 label {
    display: block;
  }
  
  .nav-dots2 {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
  }
  
  .nav-dots2 .nav-dot2 {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .nav-dots2 .nav-dot2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  input#i1:checked~.nav-dots2 label#img-dot-1-1,
  input#i2:checked~.nav-dots2 label#img-dot-1-2,
  input#i3:checked~.nav-dots2 label#img-dot-1-3,
  input#i4:checked~.nav-dots2 label#img-dot-1-4,
  input#i5:checked~.nav-dots2 label#img-dot-1-5,
  input#i6:checked~.nav-dots2 label#img-dot-1-6,
  input#i7:checked~.nav-dots2 label#img-dot-1-7{
    background: rgba(0, 0, 0, 0.8);
  }
}


@media screen and (max-width:560px) {
  .slides {
    padding: 0;
    width: 19em;
    height: 19em;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slide {
    top: 0;
    opacity: 0;
    width: 19em;
    height: 19em;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
  }

  .slides2 {
    padding: 0;
    width: 19em;
    height: 19em;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slide2 {
    top: 0;
    opacity: 0;
    width: 19em;
    height: 19em;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
  }
}

